input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track{
    background: #053a5f;
    height: 0.5rem;
    border-radius: 6px;
}

input[type="range"]::-moz-range-track {
    background: #053a5f;
    height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #fff;
    border: #053a5f solid 1px;
    border-radius: 6px;
    height: 1rem;
    width: 1rem;
    margin-top: calc(calc(0.5rem / 2) - calc(1rem / 2));
    cursor: grab;
}

input[type="range"]::-moz-range-thumb {
    background: #fff;
    border: #053a5f solid 1px;
    border-radius: 6px;
    height: 1rem;
    width: 1rem;
    cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
    cursor: grabbing;
}

input[type="range"]:active::-moz-range-thumb {
    cursor: grabbing;
}